<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cats</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Gatitos</h1>

  <div class="img"><img src="/images/maine.jpg" alt=""></div>
  <div class="img"><img src="/images/serengeti.jpg" alt=""></div>
  <div class="img"><img src="/images/pshynx.jpg" alt=""></div>
  <div class="img"><img src="/images/persian.jpg" alt=""></div>
</body>
</html>